<?xml version='1.0' encoding='utf-8'?>
<widget
    id="tabris.prototype"
    version="1.0.1"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>Tabris Prototype App</name>
    <description>
        First Prototype for an app supporting a server-client communication
    </description>
    <author email="me@me.com" href="http://www.me.me">
        Me
    </author>
	
	<plugin name="cordova-plugin-bluetooth-serial" version="0.4.5" />
	<plugin name="cordova-plugin-x-toast" version="2.5.1" />
 
	
	<platform name="android">
		<icon src="android/drawable-mdpi/ic_launcher.png" density="mdpi" />
		<icon src="android/drawable-hdpi/ic_launcher.png" density="hdpi" />
		<icon src="android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
		<icon src="android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
		<icon src="android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
	
	<platform name="ios">
		<!-- iphone 7.0+ -->
		<icon src="ios/Icon-App-60x60@1x.png" width="60" height="60"/>
		<icon src="ios/Icon-App-60x60@2x.png" width="120" height="120"/>
		<icon src="ios/Icon-App-60x60@3x.png" width="180" height="180"/>
		<!-- ipad -->
		<icon src="ios/Icon-App-76x76@1x.png" width="76" height="76"/>
		<icon src="ios/Icon-App-76x76@2x.png" width="152" height="152"/>
		<!-- iphone < 7.0 -->
		<icon src="ios/Icon-App-40x40@1x.png" width="40" height="40"/>
		<icon src="ios/Icon-App-40x40@2x.png" width="80" height="80"/>
		<!-- Spotlight and settings -->
		<icon src="ios/Icon-App-29x29@1x.png" width="29" height="29"/>
		<icon src="ios/Icon-App-29x29@2x.png" width="58" height="58"/>		
	</platform>
	
 
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>
